<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px'}">
  <div class="container-fluid">
    <div class="block-header">
      <h2>All Courses Of <font color="#78b83e"><b>All Forms</b></font></h2>
    </div>

    <div class="row">
      <div class="input-field col s12 required col-lg-4 col-xl-3" style="padding-top: 10px">
        <ng-select [items]="listCourse" bindLabel="Name" bindValue="Id" placeholder="Select Course" [(ngModel)]="courseId">
        </ng-select>
      </div>
      <div class="input-field col s12 required col-lg-4 col-xl-3" style="padding-top: 10px">
        <ng-select [items]="boolArr" [(ngModel)]="isClose" placeholder="Select status">
        </ng-select>
      </div>
      <div class="input-field col s12 required col-lg-2 col-xl-2" style="padding-top: 20px">
        <button type="submit" name="_submit" (click)="getAdmissionForm()" class="btn searchBtn">Search</button>
      </div>
    </div>
    <div class="row clearfix">
      <div *ngFor="let form of listForm" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 course-div">
        <div class="thumbnail card" style="min-width: 20vh">
          <ng-container
            *ngIf="form.Course.Image!=null; then imgNotNull; else imgNull">
          </ng-container>
          <ng-template #imgNotNull>
            <img src="{{form.Course.Image}}" alt="" class="img-fluid"
                 (click)="navigateToAdmissionFormDetail(form)"
                 [ngStyle]="{'height':'250px', 'width':'100%', 'object-fit': 'cover'}">
          </ng-template>
          <ng-template #imgNull>
            <img src="../../assets/images/bualiem.png" alt="" class="img-fluid"
                 (click)="navigateToAdmissionFormDetail(form)"
                 [ngStyle]="{'height':'250px', 'width':'100%', 'object-fit': 'cover'}">
          </ng-template>

          <div class="caption  body">
            <h3>{{form.Course.Name}}</h3>
            Time: <strong class="col-green">{{form.StartDate}}</strong><br/>
            <a class="btn  btn-raised btn-info waves-effect" role="button" (click)="navigateToAdmissionFormDetail(form)">View
              Detail</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="color-bg"></div>
