<div class="row">
  <div class="input-field col s12 required" id="id_email_container">
    <input placeholder="Search..."  maxlength="254"
      type="text">
    <button type="submit" name="_submit" class="btn searchBtn" >Submit</button>
  </div>
</div>
<div class="row clearfix all-program-content">

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 course-div">


    <div class="thumbnail card">
      <img src="" style="cursor: pointer" alt="" class="img-fluid" (click)="navigateToProgramDetail(program)">
      <div class="caption  body">
        <h3></h3>
        <p></p>
        <p><strong class="col-blush">$315.60</strong> Time: <strong class="col-green"></strong></p>
        <!-- <p>Prof.: Prof. <strong>Will Smith</strong></p>
        <p>Students: <strong class="col-green">115</strong></p> -->
        <button class="btn  btn-raised btn-info waves-effect" role="button">View
          Courses
        </button>
      </div>
    </div>
  </div>
</div>