<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px','padding': '15px 15px 15px 15px'}">
  <!--<div class="row">-->
    <!--  <div class="col-lg-5 col-xl-5 col-sm-5 col-xs-12" style="padding-top: 10px">-->
    <!--    <ng-select [items]="listClass" bindLabel="Name" bindValue="Id" placeholder="Select Class"-->
    <!--      [(ngModel)]="selectedClass" (change)="loadTimetable()" (clearable)="false">-->
    <!--    </ng-select>-->
    <!--  </div>-->
    <!--</div>-->
    <div class="block-header">
      <h2>Time table of class</h2>
      <!--      <small class="text-muted">Welcome to Swift application</small>-->
    </div>
    <div [ngStyle]="isLoading?{'display':'none'}:{}" class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card" style="max-height: 400px; padding: 15px; margin: 15px; border: 1px solid #8BC34A">
          <b><h3 style="text-align: center; background-color: #8BC34A; padding: 15px; color: #ffffff">Next Session</h3></b>
          <div *ngIf="totalTimetable.NextTimetable==null" class="header">
            <h4>Next session is empty.</h4>
          </div>
          <div *ngIf="totalTimetable.NextTimetable!=null" class="body table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
              <thead>
              <tr>
                <th scope="col">SessionNumber</th>
                <th scope="col">ClassName</th>
                <th scope="col">LearningDay(yyyy-mm-dd)</th>
                <th scope="col">RoomId</th>
                <th scope="col">Slot</th>
                <th scope="col">Attendance</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{totalTimetable.NextTimetable.SessionNumber}}</td>
                <td>{{totalTimetable.NextTimetable.ClassName}}</td>
                <td>{{totalTimetable.NextTimetable.LearningDay.substr(0, 10)}}</td>
                <td
                  *ngIf="totalTimetable.NextTimetable.Room!=null">{{totalTimetable.NextTimetable.Room.RoomNumber}}</td>
                <td *ngIf="totalTimetable.NextTimetable.Room==null"></td>
                <td>{{totalTimetable.NextTimetable.slot.Name + ' (' + totalTimetable.NextTimetable.slot.From + '-' + totalTimetable.NextTimetable.slot.To + ')'}}</td>
                <td *ngIf="totalTimetable.NextTimetable.AttendanceState==-1" style="color: #FFC107">Pending</td>
                <td *ngIf="totalTimetable.NextTimetable.AttendanceState==0" style="color: #f44336">Absent</td>
                <td *ngIf="totalTimetable.NextTimetable.AttendanceState==1" style="color: #8BC34A">Present</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card" style="max-height: 500px; padding: 15px; margin: 15px; border: 1px solid #FF9800">
          <b><h3 style="text-align: center">Learnt Sessions</h3></b>
          <div *ngIf="totalTimetable.LearntTimetableList==null || totalTimetable.LearntTimetableList.length<1"
               class="header">
            <h4>Learnt sessions is empty.</h4>
          </div>
          <div *ngIf="totalTimetable.LearntTimetableList!=null && totalTimetable.LearntTimetableList.length>0"
               class="body table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
              <thead>
              <tr>
                <th scope="col">SessionNumber</th>
                <th scope="col">LearningDay</th>
                <th scope="col">Slot</th>
                <th scope="col">Attendance</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of totalTimetable.LearntTimetableList;let index = index;">
                <td>{{item.SessionNumber}}</td>
                <td>{{item.LearningDay.substr(0, 10)}}</td>
                <td>{{item.slot.Name + ' (' + item.slot.From + '-' + item.slot.To + ')'}}</td>
                <td *ngIf="item.AttendanceState==-1" style="color: #FFC107">Pending</td>
                <td *ngIf="item.AttendanceState==0" style="color: #f44336">Absent</td>
                <td *ngIf="item.AttendanceState==1" style="color: #8BC34A">Present</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card" style="max-height: 500px; padding: 15px; margin: 15px; border: 1px solid #03A9F4">
          <b><h3 style="text-align: center">Pending Sessions</h3></b>
          <div *ngIf="totalTimetable.PendingTimetableList==null || totalTimetable.PendingTimetableList.length<1"
               class="header">
            <h4>Pending sessions is empty.</h4>
          </div>
          <div *ngIf="totalTimetable.PendingTimetableList!=null && totalTimetable.PendingTimetableList.length>0"
               class="body table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
              <thead>
              <tr>
                <th scope="col">SessionNumber</th>
                <th scope="col">LearningDay</th>
                <th scope="col">Slot</th>
                <th scope="col">Attendance</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of totalTimetable.PendingTimetableList;let index = index;">
                <td>{{item.SessionNumber}}</td>
                <td>{{item.LearningDay.substr(0, 10)}}</td>
                <td>{{item.slot.Name + ' (' + item.slot.From + '-' + item.slot.To + ')'}}</td>
                <td *ngIf="item.AttendanceState==-1" style="color: #FFC107">Pending</td>
                <td *ngIf="item.AttendanceState==0" style="color: #f44336">Absent</td>
                <td *ngIf="item.AttendanceState==1" style="color: #8BC34A">Present</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <app-loading-page *ngIf="isLoading"></app-loading-page>
</section>
