<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px'}">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Add Course</h2>
      <!--      <small class="text-muted">Welcome to Swift application</small>-->
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Course Basic Information
              <!--              <small>Description text here...</small>-->
            </h2>
            <ul class="header-dropdown">
              <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row clearfix">

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="coursename">Course Name:</label>
                  <div>
                    <input disabled type="text" [value]="form.Course.Name" class="form-control" id="coursename" />
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="formName">Form Name:</label>
                  <div class="form-line">
                    <input type="text" [(ngModel)]="form.Name" class="form-control" placeholder="Name" id="formName" />
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="courseTotalSession">Date</label>
                  <div class="form-line">
                    <input type="date" [(ngModel)]="form.StartDate" class="form-control" placeholder="Start date"
                      id="startdate" />
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-md-12">
                <div class="form-group drop-custum" style="padding-top: 2px;">
                  <label for="courseSubject">Location:</label>
                  <!-- <ng-select2 [data]="listBuildingOptions"
                  bindLabel="text"
                  bindValue="id" placeholder="placeholder" width="300" exampleData>
                  </ng-select2> -->
                  <!-- <select select2 class="form-control" id="favouriteValue" [(ngModel)]="buildingId">
                    <option *ngFor="let building of listBuilding" [ngValue]="building.Id">{{building.Name}}</option>
                  </select> -->
                  <ng-select2 [data]="exampleData" placeholder="No city selected" bindLabel="text"
                  bindValue="id" [(ngModel)]="buildingId">
                  </ng-select2>
                  {{buildingId}}
                  <!-- <mdb-select [options]="listBuildingOptions" placeholder="Choose your option" label="Example label"></mdb-select> -->
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-md-12">
                <div class="form-group drop-custum" style="padding-top: 2px;">
                  <label for="isClose">Closed:</label>
                  <select id="isClose" class="form-control" name="isClose" [(ngModel)]="isClose">
                    <option [value]="true">true</option>
                    <option [value]="false">false</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="row clearfix">
              <div class="col-sm-12">
                <button (click)="updateForm()" type="submit" class="btn btn-raised waves-effect g-bg-blush2">update
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>