<!-- main content -->
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Add Building</h2>
      <small class="text-muted">Welcome to Swift application</small>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="header">
            <h2>Building Basic Info <small>Description text here...</small> </h2>
            <ul class="header-dropdown">
              <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Building Name " [(ngModel)]="buildingName">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Building Address"[(ngModel)]="buildingAddress">
                  </div>
                </div>
              </div>
            </div>
<!--            <div class="row clearfix">-->
<!--              <div class="col-sm-12">-->
<!--                <div class="form-group">-->
<!--                  <div class="form-line">-->
<!--                    <input type="number" class="form-control" placeholder="No. of Students ">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="row clearfix">
<!--              <div class="col-sm-12">-->
<!--                <div class="form-group">-->
<!--                  <div class="form-line">-->
<!--                    <textarea rows="4" class="form-control no-resize" placeholder="Brief"></textarea>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
              <div class="col-sm-12">
                <button type="submit" (click)="addBuilding()" class="btn btn-raised g-bg-blush2">Submit</button>
                <button type="submit" class="btn btn-raised btn-default">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- main content -->
