<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px','padding': '15px 15px 15px 15px'}">

  <div class="row clearfix animated fadeIn">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div style="float: left;width: 32%;margin-left: 1%">
          <ng-select [items]="listProgram" bindLabel="Name" bindValue="Id" placeholder="Select Program"
                     (change)="reloadCourse()"
                     (clear)="reloadCourse()" [(ngModel)]="selectedProgramId">
          </ng-select>
        </div>
        <div style="float: left;width: 32%;margin-left: 1%">
          <ng-select [items]="listCourse" bindLabel="Name" bindValue="Id" placeholder="Select Course"
                     [(ngModel)]="selectedCourseId">
          </ng-select>
        </div>
        <div style="float: left;width: 32%;margin-left: 1%">
          <ng-select [items]="listTimeTableStatus" bindLabel="Name" bindValue="Id" placeholder="TimeTable Is Created"
                     (clear)="resetTimeTableStatus()"
                     [(ngModel)]="selectedTimeTable">
          </ng-select>
        </div>
        <br style="clear: left;"/>
        <button style="float: right;margin-right: 1%" type="submit" name="_submit" (click)="searchClass()"
                class="btn g-bg-blush2 searchBtn">
          Search Class
        </button>

      </div>
    </div>
  </div>
  <div [ngStyle]="isLoading?{'display':'none'}:{}" class="row clearfix animated fadeIn">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div *ngIf="empty" class="header animated fadeIn">
          <h3>There is no class in database.</h3>
          <!--            <ul class="header-dropdown">-->
          <!--              <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"-->
          <!--                                      role="button" aria-haspopup="true" aria-expanded="false"> <i-->
          <!--                class="zmdi zmdi-more-vert"></i> </a>-->
          <!--                <ul class="dropdown-menu pull-right">-->
          <!--                  <li><a href="javascript:void(0);">Action</a></li>-->
          <!--                  <li><a href="javascript:void(0);">Another action</a></li>-->
          <!--                  <li><a href="javascript:void(0);">Something else here</a></li>-->
          <!--                </ul>-->
          <!--              </li>-->
          <!--            </ul>-->
        </div>
        <div *ngIf="!empty" class="body table-responsive animated fadeIn">
          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Class Name</th>
              <th scope="col">Number of student</th>
              <th scope="col">Assign teacher</th>
              <th scope="col">Assign room</th>
              <th scope="col">View detail</th>
            </tr>
            </thead>
            <tbody>
            <tr class="animated fadeIn" *ngFor="let class of listClass;index as i;">
              <td>{{i + 1}}</td>
              <td>{{class.ClassName}}</td>
              <td>{{class.NumberOfStudent}}</td>
              <td>
                <select class="form-control show-tick hoverSelect"
                        (change)="assignTeacher($event.target.value, class.ClassId+'', class.ClassName)"
                        id="selectTeacher"
                        required>
                  <ng-container
                    *ngIf="class.Teachers!=null && class.Teachers.length>0; then teacherNotNull; else teacherIsNull"></ng-container>
                  <ng-template #teacherIsNull>
                    <option *ngFor="let teacherModel of class.TeacherList" [value]="teacherModel.Id">
                      {{teacherModel.User.Full_Name}}
                    </option>
                  </ng-template>
                  <ng-template #teacherNotNull>
                    <option *ngFor="let teacherModel of class.TeacherList" [value]="teacherModel.Id"
                            [selected]="teacherModel.Id==class.Teachers[0].Id">
                      {{teacherModel.User.Full_Name}}
                    </option>
                  </ng-template>

                </select>
              </td>
              <td>
                <select class="form-control show-tick hoverSelect"
                        (change)="assignRoom($event.target.value, class.ClassId+'', class.ClassName)"
                        id="selectRoom"
                        required>
                  <ng-container
                    *ngIf="class.RoomList!=null && class.RoomList.length>0; then roomNotNull; else roomIsNull"></ng-container>
                  <ng-template #roomIsNull>
                    <option *ngFor="let roomModel of class.RoomList" [value]="roomModel.Id">
                      {{roomModel.RoomNumber}}
                    </option>
                  </ng-template>
                  <ng-template #roomNotNull>
                    <option *ngFor="let roomModel of class.RoomList" [value]="roomModel.Id"
                            [selected]="roomModel.Id==class.RoomId">
                      {{roomModel.RoomNumber}}
                    </option>
                  </ng-template>
                </select>
              </td>
              <td>
                <button type="button" class="btn  btn-raised g-bg-cgreen waves-effect"
                        (click)="navigateToListStudent(class)">View list students
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <app-loading-page *ngIf="isLoading"></app-loading-page>
</section>

<div class="color-bg"></div>
