:host {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.hoverSelect:hover{
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}
