<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px'}">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Add Course</h2>
      <!--      <small class="text-muted">Welcome to Swift application</small>-->
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Course Basic Information
              <!--              <small>Description text here...</small>-->
            </h2>
            <ul class="header-dropdown">
              <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                      role="button" aria-haspopup="true" aria-expanded="false"><i
                class="zmdi zmdi-more-vert"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="courseName">Course Name <span class="error-msg">(*)</span>:</label>
                  <div class="form-line">
                    <input type="text" [(ngModel)]="courseName" class="form-control" placeholder="Name" id="courseName"
                           required
                           (change)="checkValidName()"
                           (focusout)="checkValidName()">
                  </div>
                  <div class="error-msg" *ngIf="errorMsgName!=null && errorMsgName.length>1">
                    {{errorMsgName}}
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="courseTotalSession">Total Session(s) <span class="error-msg">(*)</span>:</label>
                  <div class="form-line">
                    <input type="text" [(ngModel)]="totalSession" class="form-control"
                           placeholder="Total Session" id="courseTotalSession" required
                           (keypress)="isInputNumber($event)"
                           (change)="checkValidTotalSession()"
                           (focusout)="checkValidTotalSession()">
                  </div>
                  <div class="error-msg" *ngIf="errorMsgTotalSession!=null && errorMsgTotalSession.length>1">
                    {{errorMsgTotalSession}}
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="courseFee">Fee (VND) <span class="error-msg">(*)</span>:</label>
                  <div class="form-line">
                    <input type="text" [(ngModel)]="Fee" class="form-control"
                           placeholder="Course Price" id="courseFee" required
                           (keypress)="isInputNumber($event)"
                           (change)="checkValidFee()"
                           (focusout)="checkValidFee()">
                  </div>
                  <div class="error-msg" *ngIf="errorMsgFee!=null && errorMsgFee.length>1">
                    {{errorMsgFee}}
                  </div>
                </div>
              </div>
              <!--              <div class="col-lg-3 col-md-6 col-sm-12">-->
              <!--                <div class="form-group">-->
              <!--                  <div class="form-line">-->
              <!--                    <input type="text" class="form-control" placeholder="Subject Id">-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->

              <div class="col-lg-3 col-md-6 col-md-12">
                <div class="form-group">
                  <label for="courseSubject">Subject <span class="error-msg">(*)</span>:</label>

                  <div class="form-line">
                    <select id="courseSubject" class="form-control show-tick"
                            (change)="[selectedValueChanged($event.target.value),checkValidSubject()]"
                            (focusout)="checkValidSubject()"
                            required>
                      <option value="" selected>--- Choose Subject ---</option>
                      <option *ngFor="let sub of subjects" [value]="sub.Id">
                        {{sub.Name}}
                      </option>
                    </select>
                  </div>
                  <div class="error-msg" *ngIf="errorMsgSubject!=null && errorMsgSubject.length>1">
                    {{errorMsgSubject}}
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <ngx-uploadcare-widget images-only="true" public-key="929f11755f971c537f17"
                                       (on-upload-complete)="[onUploadCompleted($event),checkValidImage()]"
                                       (change)="checkValidImage()"
                                       (focusout)="checkValidImage()"required></ngx-uploadcare-widget>
                <form action="/" id="frmFileUpload" class="dropzone" method="post" enctype="multipart/form-data">
                  <img *ngIf="image!=''" src="{{image}}"
                       [ngStyle]="{'width':'100%', 'height':'100%', 'object-fit': 'cover'}">
                  <div *ngIf="image==''" class="dz-message">
                    <h3>Upload image of course</h3>
                  </div>
                </form>
                <div class="error-msg" *ngIf="errorMsgImage!=null && errorMsgImage.length>1">
                  {{errorMsgImage}}
                </div>
              </div>
              <!--              <div class="col-lg-4 col-md-12">-->
              <!--                <div class="form-group drop-custum">-->
              <!--                  <select class="form-control show-tick">-->
              <!--                    <option value="">&#45;&#45; Department &#45;&#45;</option>-->
              <!--                    <option value="10">Male</option>-->
              <!--                    <option value="20">Female</option>-->
              <!--                  </select>-->
              <!--                </div>-->
              <!--              </div>-->
              <!--              -->
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="courseDescription">Course Description:</label>
                  <div class="form-line">
                    <ckeditor id="courseDescription" [(ngModel)]="Description" [editor]="Editor"
                              (ready)="onReady($event)" required (change)="checkValidDescription()"
                              (focusout)="checkValidDescription()"></ckeditor>
                  </div>
                  <div class="error-msg" *ngIf="errorMsgDescription!=null && errorMsgDescription.length>1">
                    {{errorMsgDescription}}
                  </div>
                </div>
              </div>
            </div>

            <!--            <div class="col-sm-12">-->
            <!--              <div class="form-group">-->
            <!--                <label for="programDescriptionVer2">Description:</label>-->
            <!--                <quill-editor [(ngModel)]="Description" id="programDescriptionVer2"-->
            <!--                              placeholder="Enter Text"-->
            <!--                              [modules]="quillConfig"></quill-editor>-->
            <!--              </div>-->
            <!--            </div>-->

            <div class="row clearfix">
              <div class="col-sm-12">
                <button (click)="checkValidFields()" type="submit"
                        class="btn btn-raised waves-effect g-bg-blush2">Add Course
                </button>
                <button (click)="redirectToViewCourse()" type="submit" class="btn btn-raised btn-default waves-effect">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="color-bg"></div>


