<div [ngStyle]="isLoading?{'display':'none'}:{}" class="login-page authentication" style="position: relative">

  <div class="container" style="top: 50%">
    <div class="card-top"></div>
    <div class="card">
      <h1 class="title"><span>Swift University</span>Login <span class="msg">Sign in to start your session</span></h1>
      <div class="col-sm-12">
        <form id="sign_in" method="POST">
          <div class="input-group">

            <label for="username" style="color: #464a4c"><i class="zmdi zmdi-account"></i> Username/Email:</label>
            <div class="form-line">
              <input id="username" type="text" class="form-control" name="username" placeholder="Username"
                     [(ngModel)]="loginUserData.username" required autofocus
                     (change)="checkValidUsername()"
                     (focusout)="checkValidUsername()">
            </div>
            <div class="error-msg" *ngIf="errorMsgUsername!=null && errorMsgUsername.length>1">
              {{errorMsgUsername}}
            </div>
          </div>
          <div class="input-group">
            <label for="password" style="color: #464a4c"><i class="zmdi zmdi-lock"></i> Password:</label>
            <div class="form-line">
              <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                     [(ngModel)]="loginUserData.password" required
                     (change)="checkValidPassword()"
                     (focusout)="checkValidPassword()">
            </div>
            <div class="error-msg" *ngIf="errorMsgPassword!=null && errorMsgPassword.length>1">
              {{errorMsgPassword}}
            </div>
          </div>
          <div class="text-center">
            <a class="btn btn-raised waves-effect g-bg-blush2" (click)="checkValidFields()">SIGN IN</a>
            <!--            <a href="sign-up.html" class="btn btn-raised waves-effect">SIGN UP</a>-->
          </div>
          <div class="text-center"><a href="/forgot-password">Forgot Password?</a></div>
        </form>
      </div>
    </div>
  </div>

  <div class="theme-bg"></div>
</div>
<app-loading-page *ngIf="isLoading"></app-loading-page>
