<body class="login-page authentication">

<div class="container">
  <div class="card-top"></div>
  <div class="card">
    <h1 class="title"><span>Swift University</span>Login <span class="msg">Sign in to start your session</span></h1>
    <div class="col-sm-12">
      <form id="sign_in" method="POST">
        <div class="input-group"><span class="input-group-addon"> <i class="zmdi zmdi-account"></i> </span>
          <div class="form-line">
            <input type="text" class="form-control" name="username" placeholder="Username"
                   [(ngModel)]="loginUserData.username" required autofocus>
          </div>
        </div>
        <div class="input-group"><span class="input-group-addon"> <i class="zmdi zmdi-lock"></i> </span>
          <div class="form-line">
            <input type="password" class="form-control" name="password" placeholder="Password"
                   [(ngModel)]="loginUserData.password" required>
          </div>
        </div>
        <div class="">
          <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
          <label for="rememberme">Remember Me</label>
        </div>
        <div class="text-center">
          <a class="btn btn-raised waves-effect g-bg-blush2" (click)="loginUser()">SIGN IN</a>
          <a href="sign-up.html" class="btn btn-raised waves-effect">SIGN UP</a>
        </div>
        <div class="text-center"><a href="forgot-password.html">Forgot Password?</a></div>
      </form>
    </div>
  </div>
</div>

<div class="theme-bg"></div>

</body>
