<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px','padding': '15px 15px 15px 15px'}">
  <form id="formAdd">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div style="float: left;width: 48%;margin-left: 1%">
            <ng-select [items]="listCourse" bindLabel="Name" bindValue="Id" placeholder="Select Course"
                       (change)="ReLoadForm()" id="courseName" name="courseName"
                       (clear)="ReLoadForm()" [(ngModel)]="selectedCourseId">
            </ng-select>
          </div>
          <div style="float: left;width: 47%;margin-left: 1%">
            <ng-select [items]="listForm" bindLabel="Name" bindValue="Id" [(ngModel)]="selectedFormId"
                       placeholder="Select Form" id="formName" name="formName">
            </ng-select>
          </div>
          <br style="clear: left;"/>
          <div style="float: left;width: 48%;margin-left: 1%">
            <div class="form-group">
              <div class="form-line">
                <input type="text" [(ngModel)]="studentName" class="form-control" placeholder="Student Name"
                       id="studentName" name="studentName">
              </div>
            </div>
          </div>
          <div style="float: left;width: 47%;margin-left: 1%">
            <div class="form-group">
              <div class="form-line">
                <input type="text" [(ngModel)]="phoneNumber" class="form-control" placeholder="Phone Number" required
                       id="phoneNumber" name="phoneNumber"
                       (keypress)="isInputNumber($event)">
              </div>
            </div>
          </div>
          <br style="clear: left;"/>
          <button style="float: right;margin-right: 1%" type="submit" name="_submit" (click)="searchStudent()"
                  class="btn g-bg-blush2 searchBtn" id="btnAdd">
            Search Student
          </button>
        </div>
      </div>
    </div>
  </form>

  <div [ngStyle]="isLoading?{'display':'none'}:{}">
    <div class="row clearfix all-program-content">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div *ngIf="empty" class="header">
            <h3>There is no student in database.</h3>
            <!--            <ul class="header-dropdown">-->
            <!--              <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"-->
            <!--                                      role="button" aria-haspopup="true" aria-expanded="false"> <i-->
            <!--                class="zmdi zmdi-more-vert"></i> </a>-->
            <!--                <ul class="dropdown-menu pull-right">-->
            <!--                  <li><a href="javascript:void(0);">Action</a></li>-->
            <!--                  <li><a href="javascript:void(0);">Another action</a></li>-->
            <!--                  <li><a href="javascript:void(0);">Something else here</a></li>-->
            <!--                </ul>-->
            <!--              </li>-->
            <!--            </ul>-->
          </div>

          <div *ngIf="!empty" class="body">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled" *ngIf="currentPage==1">
                <a class="page-link" href="javascript:;">First</a>
              </li>
              <li class="page-item" *ngIf="currentPage!=1">
                <a class="page-link" href="javascript:;" (click)="changePage(1)">First</a>
              </li>
              <li *ngFor="let p of listPageDisplay" class="page-item" [class.active]="currentPage==p">
                <a class="page-link" href="javascript:;" (click)="changePage(p)">{{p}}</a>
              </li>
              <li class="page-item disabled" *ngIf="currentPage==listPage.length">
                <a class="page-link" href="javascript:;">Last</a>
              </li>
              <li class="page-item" *ngIf="currentPage!=listPage.length">
                <a class="page-link" href="javascript:;" (click)="changePage(listPage.length)">Last</a>
              </li>
            </ul>
          </div>

          <div *ngIf="!empty" class="body table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
              <thead>
              <tr>

                <th scope="col" style="vertical-align: bottom">

                  <div class="btn-group" style="box-shadow: none">
                    <input type="checkbox" name="selectAll" id="selectAll"
                           class="filled-in chk-col-pink" [checked]="isSelectedAll"
                           (change)="selectAllFun()"/>
                    <label for="selectAll"></label>
                    <!--                    <button type="button" class="btn btn-primary">Split me</button>-->
                    <div [ngStyle]="isSelectedAll?{}:{'visibility': 'hidden'}" class="btn-group" ngbDropdown
                         role="group"
                         aria-label="Button group with nested dropdown">
                      <span ngbDropdownToggle></span>
                      <ul class="dropdown-menu" ngbDropdownMenu>
                        <li ngbDropdownItem style="font-weight:normal" (click)="grantAccountForMany()"><a
                          href="javascript:;">Grant selected</a></li>
                      </ul>
                    </div>
                  </div>

                </th>


                <th scope="col" style="vertical-align: middle">Student Name</th>
                <!--                <th scope="col" style="vertical-align: middle">Student Email</th>-->
                <th scope="col" style="vertical-align: middle">Date of birth</th>
                <th scope="col" style="vertical-align: middle">Student's Phone</th>
                <!--                <th scope="col" style="vertical-align: middle">Gender</th>-->
                <th scope="col" style="vertical-align: middle">Parent's Name</th>
                <th scope="col" style="vertical-align: middle">Parent's Phone</th>
                <!--                <th scope="col" style="vertical-align: middle">Parent's Gmail</th>-->
                <th scope="col" style="vertical-align: middle">Grant Account</th>
                <!--                <th scope="col" style="vertical-align: middle">Delete student</th>-->

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let student of listStudent;let index = index;">
                <td style="vertical-align: bottom;text-align: center">
                  <div class="checkbox">
                    <input type="checkbox" name="rememberme{{index}}" id="rememberme{{index}}"
                           class="filled-in chk-col-pink" [checked]="student.selected"
                           (change)="updateSelectAllStatus(student)"/>
                    <label for="rememberme{{index}}"></label>
                  </div>
                </td>
                <td>{{student.Name}}</td>
                <!--                <td>{{student.Email}}</td>-->
                <td style="text-align: center">{{student.displayDate}}</td>
                <td>{{student.Phone}}</td>
                <!--                <td style="text-align: center">{{student.realSex}}</td>-->
                <td>{{student.Parent_Name}}</td>
                <td>{{student.Parent_Phone}}</td>
                <!--                <td>{{student.Parent_Gmail}}</td>-->
                <ng-container *ngIf="!student.IsGrantedAccount; then canCheck; else cannotCheck"></ng-container>
                <ng-template #canCheck>
                  <td style="text-align: center">
                    <div class="row">
                      <div class="button-demo">
                        <button style="display: block;margin: auto;" type="button"
                                class="btn  btn-raised bg-light-green waves-effect"
                                (click)="grantAccountForOne(student, index)">Grant
                        </button>
                      </div>
                    </div>
                  </td>
                </ng-template>
                <ng-template #cannotCheck>
                  <td class="check-availble" style="text-align: center">Granted</td>
                </ng-template>
                <!--                <td style="text-align: center">-->
                <!--                  &lt;!&ndash;                  <button type="button" class="btn btn-raised btn-default waves-effect"&ndash;&gt;-->
                <!--                  &lt;!&ndash;                          (click)="openAttendanceForm(longContent, student)"><i&ndash;&gt;-->
                <!--                  &lt;!&ndash;                    style="color:#f44336" class="material-icons">delete_forever</i>&ndash;&gt;-->
                <!--                  &lt;!&ndash;                  </button>&ndash;&gt;-->

                <!--                  <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float"-->
                <!--                          (click)="openAttendanceForm(longContent, student)"><i-->
                <!--                    style="color:#f44336" class="material-icons">delete_forever</i></button>-->
                <!--                  &lt;!&ndash;                  <button style="display: block;margin: auto;" type="button" class="btn  btn-raised btn-danger waves-effect"&ndash;&gt;-->
                <!--                  &lt;!&ndash;                          >Delete&ndash;&gt;-->
                <!--                  &lt;!&ndash;                  </button>&ndash;&gt;-->
                <!--                </td>-->
              </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="!empty" class="body">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled" *ngIf="currentPage==1">
                <a class="page-link" href="javascript:;">First</a>
              </li>
              <li class="page-item" *ngIf="currentPage!=1">
                <a class="page-link" href="javascript:;" (click)="changePage(1)">First</a>
              </li>
              <li *ngFor="let p of listPageDisplay" class="page-item" [class.active]="currentPage==p">
                <a class="page-link" href="javascript:;" (click)="changePage(p)">{{p}}</a>
              </li>
              <li class="page-item disabled" *ngIf="currentPage==listPage.length">
                <a class="page-link" href="javascript:;">Last</a>
              </li>
              <li class="page-item" *ngIf="currentPage!=listPage.length">
                <a class="page-link" href="javascript:;" (click)="changePage(listPage.length)">Last</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--  <div [ngStyle]="isLoading?{'display':'none'}:{}" class="container-fluid">-->
  <!--    <div class="row">-->
  <!--      <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">-->
  <!--        <ng-select [items]="listCourse" bindLabel="Name" bindValue="Id" placeholder="Select Course"-->
  <!--                   (change)="ReLoadForm()"-->
  <!--                   (clear)="ReLoadForm()" [(ngModel)]="selectedCourseId">-->
  <!--        </ng-select>-->
  <!--      </div>-->
  <!--      <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">-->
  <!--        <ng-select [items]="listForm" bindLabel="Name" bindValue="Id" [(ngModel)]="selectedFormId"-->
  <!--                   placeholder="Select Form">-->
  <!--        </ng-select>-->
  <!--      </div>-->
  <!--      <div class="col-lg-4 col-xl-4">-->
  <!--        <div class="form-group">-->
  <!--          <div class="form-line">-->
  <!--            <input type="text" [(ngModel)]="studentName" class="form-control" placeholder="Type Name">-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">-->
  <!--        <button type="submit" name="_submit" (click)="searchStudent()" class="btn searchBtn">Search</button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div *ngIf="msg=='success'" class="alert alert-success alert-dismissible fade show" role="alert">-->
  <!--      Data has been updated successfully-->
  <!--      <button (click)="removeMessage()" type="button" class="btn-close" data-dismiss="alert" aria-label="Close">-->
  <!--        <span aria-hidden="true">&times;</span>-->
  <!--      </button>-->
  <!--    </div>-->
  <!--    <div *ngIf="msg=='error'" class="alert alert-warning alert-dismissible fade show" role="alert">-->
  <!--      Data has been updated unsuccessfully-->
  <!--      <button (click)="removeMessage()" type="button" class="btn-close" data-dismiss="alert" aria-label="Close">-->
  <!--        <span aria-hidden="true">&times;</span>-->
  <!--      </button>-->
  <!--    </div>-->
  <!--    {{msg}}-->
  <!--    <div class="row clearfix all-program-content">-->
  <!--      <div *ngIf="empty"></div>-->
  <!--      <div *ngIf="!empty" style="width: 100%">-->
  <!--        <div style="overflow-x: auto;width: 100%;height: auto;max-height: 600px">-->
  <!--          <table class="table studenttbl">-->
  <!--            <thead>-->
  <!--            <tr>-->
  <!--              <th scope="col">#</th>-->
  <!--              <th scope="col">Student Name</th>-->
  <!--              <th scope="col">Student Email</th>-->
  <!--              <th scope="col">Date of birth</th>-->
  <!--              <th scope="col">Student's Phone</th>-->
  <!--              <th scope="col">Payment's Status</th>-->
  <!--              <th scope="col">Grant Account</th>-->
  <!--            </tr>-->
  <!--            </thead>-->
  <!--            <tbody>-->
  <!--            <tr *ngFor="let student of listStudent;let index = index;">-->
  <!--              <th scope="row" style="vertical-align: bottom">-->
  <!--                <div class="checkbox">-->
  <!--                  <input type="checkbox" name="rememberme{{index}}" id="rememberme{{index}}"-->
  <!--                         class="filled-in chk-col-pink" [(ngModel)]="student.selected"/>-->
  <!--                  <label for="rememberme{{index}}"></label>-->
  <!--                </div>-->
  <!--              </th>-->
  <!--              <td>{{student.Name}}</td>-->
  <!--              <td>{{student.Email}}</td>-->
  <!--              <td>{{student.Dob}}</td>-->
  <!--              <td>{{student.Phone}}</td>-->
  <!--              <td [class.check-availble]="student.IsPayment"-->
  <!--                  [class.reject-availble]="!student.IsPayment">{{student.IsPayment ? 'Paid' : 'Not Yet'}}</td>-->
  <!--              <td>-->
  <!--                <div class="row" *ngIf="!student.IsGrantedAccount">-->
  <!--                  <div class="col-lg-5 col-xl-5">-->
  <!--                    <button (click)="grantAccountForOne(student)" class="grant-availble">Grant</button>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--                <span *ngIf="student.IsGrantedAccount">Granted</span>-->
  <!--              </td>-->
  <!--            </tr>-->
  <!--            </tbody>-->
  <!--          </table>-->
  <!--        </div>-->
  <!--        <div class="row">-->
  <!--          <div class="input-field col s12 required col-lg-3 col-xl-3" style="padding-top: 10px">-->
  <!--            <ng-select [items]="listPageSize" placeholder="Select page size" [(ngModel)]="pageSize"-->
  <!--                       (change)="changePageSize()">-->
  <!--            </ng-select>-->
  <!--          </div>-->
  <!--          <div class="input-field col s12 required col-lg-3 col-xl-3" style="padding-top: 42px;text-align: right">-->
  <!--            <p>Showing {{pageSize * currentPage - pageSize + 1}} to {{pageSize * currentPage}} of {{totalData}}-->
  <!--              items</p>-->
  <!--          </div>-->
  <!--          <div class="input-field col s12 required col-lg-3 col-xl-3" style="padding-top: 10px">-->
  <!--            <ng-select [items]="listPage" bindLabel="text" bindValue="value" placeholder="Select page"-->
  <!--                       [(ngModel)]="currentPage" (change)="changePage()">-->
  <!--            </ng-select>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="row">-->
  <!--          <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">-->
  <!--            <button type="submit" name="_submit" (click)="grantAccountForMany()" class="btn searchBtn">Confirm all-->
  <!--            </button>-->
  <!--          </div>-->

  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <app-loading-page *ngIf="isLoading"></app-loading-page>
</section>
