<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>:: Swift - University Admin ::</title>
<link rel="icon" href="favicon.ico" type="image/x-icon"> -->
<!-- Favicon-->
<!-- <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"> -->
<!-- Dropzone Css -->
<!-- <link href="assets/plugins/dropzone/dropzone.css" rel="stylesheet"> -->
<!-- Bootstrap Material Datetime Picker Css -->
<!-- <link href="assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" /> -->
<!-- Wait Me Css -->
<!-- <link href="assets/plugins/waitme/waitMe.css" rel="stylesheet" /> -->
<!-- Bootstrap Select Css -->
<!-- <link href="assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

<link href="assets/css/main.css" rel="stylesheet"> -->
<!-- Custom Css -->


<!-- <link href="assets/css/themes/all-themes.css" rel="stylesheet" /> -->
<!-- </head> -->

<body class="theme-blush">
<!-- Page Loader -->

<!-- #END# Page Loader -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<!-- Morphing Search  -->


<!-- Top Bar -->
<nav class="navbar clearHeader">
  <div class="col-12">
    <div class="navbar-header"><a href="javascript:void(0);" class="bars"></a> <a class="navbar-brand"
                                                                                  href="index.html">ECM University</a>
    </div>
  </div>
</nav>
<!-- #Top Bar -->

<!--Side menu and right menu -->
<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
      <div class="admin-image"><img src="{{userAvatar}}" alt=""></div>
      <div class="admin-action-info"><span>Welcome</span>
        <h3>{{userName}}</h3>
        <ul>
          <!--          <li><a data-placement="bottom" title="Go to Inbox" href="mail-inbox.html"><i class="zmdi zmdi-email"></i></a>-->
          <!--          </li>-->
          <li><a data-placement="bottom" title="Go to Profile" href="javascript:;"
                 (click)="redirectToUrl(urlTraining.profile)"><i
            class="zmdi zmdi-account"></i></a>
          </li>
<!--          <li><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i-->
<!--            class="zmdi zmdi-settings"></i></a></li>-->
          <li><a data-placement="bottom" title="Logout" (click)="logout()"><i class="zmdi zmdi-sign-in"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <!--    <div class="menu">-->
    <!--      <ul class="list">-->
    <!--        <li class="header">MAIN NAVIGATION</li>-->
    <!--        <li [ngClass]="{'active open': urlName=='/Training-staff/Report'}"><a href="/Training-staff/Report"><i-->
    <!--          class="zmdi zmdi-home"></i><span class="class-hover">Report</span></a></li>-->
    <!--        <li-->
    <!--          [ngClass]="{'active open': urlName=='/Training-staff/view-teacher'||urlName=='/Training-staff/add-teacher'}">-->
    <!--          <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span-->
    <!--            class="class-hover">Teacher</span> </a>-->
    <!--          <ul class="ml-menu">-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/view-teacher'}"><a-->
    <!--              href="/Training-staff/view-teacher">-->
    <!--              <span class="class-hover">All Teachers</span></a></li>-->
    <!--            &lt;!&ndash;              <li [ngClass]="{'active': urlName=='/Training-staff/add-teacher'}"><a href="/Training-staff/add-teacher">&ndash;&gt;-->
    <!--            &lt;!&ndash;                  <span class="class-hover">Add Teacher</span></a></li>&ndash;&gt;-->
    <!--          </ul>-->
    <!--        </li>-->
    <!--        <li-->
    <!--          [ngClass]="{'active open': urlName=='/Training-staff/view-program'||urlName=='/Training-staff/add-program'}">-->
    <!--          <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span-->
    <!--            class="class-hover">Programs</span> </a>-->
    <!--          <ul class="ml-menu">-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/view-program'}"><a-->
    <!--              href="/Training-staff/view-program">-->
    <!--              <span class="class-hover">All Programs</span></a></li>-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/add-program'}"><a href="/Training-staff/add-program">-->
    <!--              <span class="class-hover">Add Program</span></a></li>-->
    <!--          </ul>-->
    <!--        </li>-->
    <!--        <li-->
    <!--          [ngClass]="{'active open': urlName=='/Training-staff/GenerateClass'||urlName=='/Training-staff/ListClasses'}">-->
    <!--          <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span-->
    <!--            class="class-hover">Class</span> </a>-->
    <!--          <ul class="ml-menu">-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/GenerateClass'}"><a-->
    <!--              href="/Training-staff/GenerateClass">-->
    <!--              <span class="class-hover">Generate Class</span></a></li>-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/ListClasses'}"><a-->
    <!--              href="/Training-staff/ListClasses">-->
    <!--              <span class="class-hover">List Classes</span></a></li>-->
    <!--            &lt;!&ndash;            <li [ngClass]="{'active': urlName=='/Training-staff/assign-teacher'}"><a&ndash;&gt;-->
    <!--            &lt;!&ndash;              href="/Training-staff/assign-teacher">&ndash;&gt;-->
    <!--            &lt;!&ndash;              <span class="class-hover">Assign Teacher</span></a></li>&ndash;&gt;-->
    <!--          </ul>-->
    <!--        </li>-->
    <!--        <li [ngClass]="{'active open': urlName=='/Training-staff/GenerateTimetable'}">-->
    <!--          <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span-->
    <!--            class="class-hover">Timetable</span> </a>-->
    <!--          <ul class="ml-menu">-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/GenerateTimetable'}"><a-->
    <!--              href="/Training-staff/GenerateTimetable">-->
    <!--              <span class="class-hover">Generate timetable</span></a></li>-->
    <!--          </ul>-->
    <!--        </li>-->

    <!--        &lt;!&ndash;        <li [ngClass]="{'active open': urlName=='/Training-staff/view-course'||urlName=='/Training-staff/add-course'}">&ndash;&gt;-->
    <!--        &lt;!&ndash;          <a&ndash;&gt;-->
    <!--        &lt;!&ndash;            href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span&ndash;&gt;-->
    <!--        &lt;!&ndash;            class="class-hover">Courses</span> </a>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <ul class="ml-menu">&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li [ngClass]="{'active': urlName=='/Training-staff/view-course'}">&ndash;&gt;-->
    <!--        &lt;!&ndash;              <a href="/Training-staff/view-course">&ndash;&gt;-->
    <!--        &lt;!&ndash;                <span class="class-hover">All Courses</span>&ndash;&gt;-->
    <!--        &lt;!&ndash;              </a>&ndash;&gt;-->
    <!--        &lt;!&ndash;            </li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li [ngClass]="{'active': urlName=='/Training-staff/add-course'}">&ndash;&gt;-->
    <!--        &lt;!&ndash;              <a href="/Training-staff/add-course">&ndash;&gt;-->
    <!--        &lt;!&ndash;                <span class="class-hover">Add Course</span>&ndash;&gt;-->
    <!--        &lt;!&ndash;              </a>&ndash;&gt;-->
    <!--        &lt;!&ndash;            </li>&ndash;&gt;-->
    <!--        &lt;!&ndash;          </ul>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </li>&ndash;&gt;-->
    <!--        <li-->
    <!--          [ngClass]="{'active open': urlName=='/Training-staff/view-building'||urlName=='/Training-staff/add-building'}">-->
    <!--          <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span-->
    <!--            class="class-hover">Buildings</span>-->
    <!--          </a>-->
    <!--          <ul class="ml-menu">-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/view-building'}"><a-->
    <!--              href="/Training-staff/view-building">-->
    <!--              <span class="class-hover">All Buildings</span></a></li>-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/add-building'}"><a-->
    <!--              href="/Training-staff/add-building"><span class="class-hover">Add Building</span></a></li>-->
    <!--          </ul>-->
    <!--        </li>-->
    <!--        <li [ngClass]="{'active open': urlName=='/Training-staff/view-room'||urlName=='/Training-staff/add-room'}"><a-->
    <!--          href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span-->
    <!--          class="class-hover">Rooms</span> </a>-->
    <!--          <ul class="ml-menu">-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/view-room'}"><a href="/Training-staff/view-room"><span-->
    <!--              class="class-hover">All Rooms</span></a></li>-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/add-room'}"><a href="/Training-staff/add-room"><span-->
    <!--              class="class-hover">Add Room</span></a></li>-->
    <!--          </ul>-->
    <!--        </li>-->
    <!--        <li-->
    <!--          [ngClass]="{'active open': urlName=='/Training-staff/view-slot'||urlName=='/Training-staff/add-slot'}">-->
    <!--          <a-->
    <!--            href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span-->
    <!--            class="class-hover">Slots</span>-->
    <!--          </a>-->
    <!--          <ul class="ml-menu">-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/view-slot'}"><a-->
    <!--              href="/Training-staff/view-slot"><span class="class-hover">All Slots</span></a></li>-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/add-slot'}"><a-->
    <!--              href="/Training-staff/add-slot"><span class="class-hover">Add Slot</span></a></li>-->
    <!--          </ul>-->
    <!--        </li>-->
    <!--        <li-->
    <!--          [ngClass]="{'active open': urlName=='/Training-staff/view-subject'||urlName=='/Training-staff/add-subject'}">-->
    <!--          <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span-->
    <!--            class="class-hover">Subjects</span>-->
    <!--          </a>-->
    <!--          <ul class="ml-menu">-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/view-subject'}"><a-->
    <!--              href="/Training-staff/view-subject"><span class="class-hover">All Subjects</span></a></li>-->
    <!--            <li [ngClass]="{'active': urlName=='/Training-staff/add-subject'}"><a-->
    <!--              href="/Training-staff/add-subject"><span class="class-hover">Add Subject</span></a></li>-->
    <!--          </ul>-->
    <!--        </li>-->
    <!--        <li [ngClass]="{'active open': urlName=='/Training-staff/profile'}"><a href="/Training-staff/profile"><i-->
    <!--          class="zmdi zmdi-home"></i><span class="class-hover">Profile</span></a></li>-->
    <!--        <li><a (click)="logout()"><i class="zmdi zmdi-power"></i><span class="class-hover">Logout</span></a></li>-->
    <!--      </ul>-->
    <!--    </div>-->
    <div class="menu">
      <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
<!--        <li [ngClass]="{'active open': getCurrentUrl()==urlTraining.viewReport}">-->
<!--          <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewReport)">-->
<!--            <i class="zmdi zmdi-home"></i><span class="class-hover">Dashboard</span></a></li>-->
<!--        <li [ngClass]="{'active open': getCurrentUrl()==urlTraining.viewWeeklyReport}">-->
<!--          <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewWeeklyReport)">-->
<!--            <i class="zmdi zmdi-home"></i><span class="class-hover">Weekly report</span></a></li>-->
        <li
          [ngClass]="{'active open': getCurrentUrl()==urlTraining.viewReport||getCurrentUrl()==urlTraining.viewWeeklyReport}">
          <a href="javascript:void(0);" class="menu-toggle"><i class="material-icons">poll</i><span
            class="class-hover">Dashboard</span> </a>
          <ul class="ml-menu">
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.viewReport}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewReport)">
                <span class="class-hover">Report</span></a></li>
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.viewWeeklyReport}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewWeeklyReport)">
                <span class="class-hover">Weekly report</span></a></li>
          </ul>
        </li>
        <li [ngClass]="{'active open': getCurrentUrl()==urlTraining.profile}">
          <a href="javascript:;" (click)="redirectToUrl(urlTraining.profile)">
            <i class="material-icons">account_circle</i><span class="class-hover">Profile</span></a></li>
        <li
          [ngClass]="{'active open': getCurrentUrl()==urlTraining.viewTeacher||getCurrentUrl()==urlTraining.addTeacher}">
          <a href="javascript:void(0);" class="menu-toggle"><i class="material-icons">school</i><span
            class="class-hover">Teachers</span> </a>
          <ul class="ml-menu">
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.viewTeacher}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewTeacher)">
                <span class="class-hover">All Teachers</span></a></li>
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.addTeacher}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.addTeacher)">
                <span class="class-hover">Add Teacher</span></a></li>
          </ul>
        </li>
        <li
          [ngClass]="{'active open': getCurrentUrl()==urlTraining.viewStudent}">
          <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-accounts-outline"></i><span
            class="class-hover">Student</span> </a>
          <ul class="ml-menu">
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.viewStudent}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewStudent)">
                <span class="class-hover">All Student</span></a></li>
          </ul>
        </li>
        <li
          [ngClass]="{'active open': getCurrentUrl()==urlTraining.viewProgram||getCurrentUrl()==urlTraining.addProgram}">
          <a href="javascript:void(0);" class="menu-toggle"><i class="material-icons">library_books</i><span
            class="class-hover">Programs</span> </a>
          <ul class="ml-menu">
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.viewProgram}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewProgram)">
                <span class="class-hover">All Programs</span></a></li>
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.addProgram}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.addProgram)">
                <span class="class-hover">Add Program</span></a></li>
          </ul>
        </li>
        <li
          [ngClass]="{'active open': getCurrentUrl()==urlTraining.listClass||getCurrentUrl()==urlTraining.generateClass||getCurrentUrl()==urlTraining.generateTimetable}">
          <a href="javascript:void(0);" class="menu-toggle"><i class="material-icons">class</i><span
            class="class-hover">Classes</span> </a>
          <ul class="ml-menu">
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.generateClass}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.generateClass)">
                <span class="class-hover">Generate Class</span></a></li>
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.listClass}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.listClass)">
                <span class="class-hover">List Classes</span></a></li>
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.generateTimetable}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.generateTimetable)">
                <span class="class-hover">Generate timetable</span></a></li>
            <!--            <li [ngClass]="{'active': urlName=='/Training-staff/assign-teacher'}"><a-->
            <!--              href="/Training-staff/assign-teacher">-->
            <!--              <span class="class-hover">Assign Teacher</span></a></li>-->
          </ul>
        </li>
        <li
          [ngClass]="{'active open': getCurrentUrl()==urlTraining.viewBuilding||getCurrentUrl()==urlTraining.addBuilding}">
          <a href="javascript:void(0);" class="menu-toggle"><i class="material-icons">location_city</i><span
            class="class-hover">Buildings</span>
          </a>
          <ul class="ml-menu">
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.viewBuilding}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewBuilding)">
                <span class="class-hover">All Buildings</span></a></li>
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.addBuilding}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.addBuilding)">
                <span class="class-hover">Add Building</span></a></li>
          </ul>
        </li>
        <li [ngClass]="{'active open': getCurrentUrl()==urlTraining.viewRoom||getCurrentUrl()==urlTraining.addRoom}">
          <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-book"></i><span
            class="class-hover">Rooms</span> </a>
          <ul class="ml-menu">
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.viewRoom}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewRoom)">
                <span class="class-hover">All Rooms</span></a></li>
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.addRoom}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.addRoom)">
                <span class="class-hover">Add Room</span></a></li>
          </ul>
        </li>
        <li [ngClass]="{'active open': getCurrentUrl()==urlTraining.viewSlot||getCurrentUrl()==urlTraining.addSlot}">
          <a
            href="javascript:void(0);" class="menu-toggle"><i class="material-icons">timelapse</i><span
            class="class-hover">Slots</span>
          </a>
          <ul class="ml-menu">
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.viewSlot}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewSlot)">
                <span class="class-hover">All Slots</span></a></li>
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.addSlot}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.addSlot)">
                <span class="class-hover">Add Slot</span></a></li>
          </ul>
        </li>
        <li
          [ngClass]="{'active open': getCurrentUrl()==urlTraining.viewSubject||getCurrentUrl()==urlTraining.addSubject}">
          <a href="javascript:void(0);" class="menu-toggle"><i class="material-icons">subject</i><span
            class="class-hover">Subjects</span>
          </a>
          <ul class="ml-menu">
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.viewSubject}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.viewSubject)">
                <span class="class-hover">All Subjects</span></a></li>
            <li [ngClass]="{'active': getCurrentUrl()==urlTraining.addSubject}">
              <a href="javascript:;" (click)="redirectToUrl(urlTraining.addSubject)">
                <span class="class-hover">Add Subject</span></a></li>
          </ul>
        </li>

        <li><a (click)="logout()"><i class="material-icons">exit_to_app</i><span class="class-hover">Logout</span></a></li>
      </ul>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->
  <!-- Right Sidebar -->
<!--  -->
  <!-- #END# Right Sidebar -->
</section>
<!--Side menu and right menu -->

<!-- main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <router-outlet (activate)="receiveMsg($event)"></router-outlet>
    </div>
  </div>
</section>
<!-- main content -->

<div class="color-bg"></div>

<!-- Jquery Core Js -->
</body>

<!-- </html> -->
