<div class="row">
    <div class="input-field col s12 required" id="id_email_container">
        <input placeholder="Search..." id="coursename" maxlength="254" [(ngModel)]="programName" name="coursename" type="text">
        <button type="submit" name="_submit" class="btn searchBtn" (click)="searchProgramByName()">Submit</button>
    </div>
</div>
<div class="row clearfix" style="width: 1190px">
  <div *ngFor="let program of programs" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 course-div">

    <div class="thumbnail card">
      <img src="assets/images/course-3.jpg" style="cursor: pointer" alt="" class="img-fluid" (click)="navigateToProgramDetail(program)">
      <div class="caption  body">
        <h3>{{program.Name}}</h3>
        <p>First Year, MBA</p>
        <p>Price: <strong class="col-blush">$315.60</strong> Time: <strong class="col-green">9 months</strong></p>
        <!-- <p>Prof.: Prof. <strong>Will Smith</strong></p>
        <p>Students: <strong class="col-green">115</strong></p> -->
        <button (click)="selectProgram(program)" class="btn  btn-raised btn-info waves-effect" role="button">View Courses</button>
      </div>
    </div>
  </div>
</div>
