<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px'}">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Add Program</h2>
      <small class="text-muted">Welcome to Swift application</small>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Program Basic Information
<!--              <small>Description text here...</small>-->
            </h2>
            <ul class="header-dropdown">
              <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                      role="button" aria-haspopup="true" aria-expanded="false"><i
                class="zmdi zmdi-more-vert"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="programName">Program Name:</label>
                  <div class="form-line">
                    <input type="text" [(ngModel)]="courseName" class="form-control" placeholder="Name"
                           name="coursename" id="programName">
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <ngx-uploadcare-widget images-only="true" public-key="929f11755f971c537f17"
                                       (on-upload-complete)="onUploadCompleted($event)"></ngx-uploadcare-widget>
                <form action="/" id="frmFileUpload" class="dropzone" method="post" enctype="multipart/form-data">
                  <img *ngIf="image!=''" src="{{image}}"
                       [ngStyle]="{'width':'100%', 'height':'100%', 'object-fit': 'cover'}">
                  <div *ngIf="image==''" class="dz-message">
                    <h3>Upload image of program</h3>
                  </div>
                </form>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="programDescription">Program Description:</label>
                  <div class="form-line">
                    <textarea [(ngModel)]="description" rows="4" class="form-control no-resize"
                              placeholder="Course Description" id="programDescription"></textarea>
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <button (click)="addCourse()" type="submit" class="btn btn-raised waves-effect g-bg-blush2">Add Program
                </button>
                <button (click)="redirectToAllProgram()" type="submit" class="btn btn-raised btn-default waves-effect">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


