<section class="content profile-page" style="min-height: 850px;" [ngStyle]="{'margin': '15px 15px 15px 15px'}">
  <div [ngStyle]="isLoading?{'display':'none'}:{}" class="container-fluid">
    <div class="block-header">
      <h2>Profile</h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class=" card">
          <img src="{{user.Avatar}}" class="img-fluid" alt=""
               style="border-radius: 50%; width: 350px; height: 350px; display: block;  margin-left: auto;  margin-right: auto;  margin-top: 15px;   margin-bottom:15px; alignment: center">
        </div>
        <ngx-uploadcare-widget *ngIf="isEditing" images-only="true" public-key="929f11755f971c537f17"
                               (on-upload-complete)="onUploadCompleted($event)"
                               style="margin-left: auto;  margin-right: auto; margin-top: 15px;   margin-bottom:15px;"></ngx-uploadcare-widget>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="card fadeIn animated">
          <div class="body">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                  <div class="body">
                    <div class="demo-masked-input">
                      <div class="row clearfix">
                        <div class="col-lg-12 col-md-12"><b>Full Name</b>
                          <div class="input-group">
                            <div class="form-line" style="display: flex">
                              <span class="input-group-addon"> <i class="material-icons">person</i> </span>
                              <input type="text" class="form-control text" [disabled]="!isEditing"
                                     [(ngModel)]="user.name" placeholder="">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12"><b>Email</b>
                          <div class="input-group">
                            <div class="form-line" style="display: flex">
                              <span class="input-group-addon"> <i class="material-icons">email</i> </span>
                              <input type="text" class="form-control text" disabled [(ngModel)]="user.email"
                                     placeholder="">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12"><b>Phone Number</b>
                          <div class="input-group">
                            <div class="form-line" style="display: flex">
                              <span class="input-group-addon"> <i class="material-icons">phone</i> </span>
                              <input type="text" class="form-control text" [disabled]="!isEditing"
                                     [(ngModel)]="user.PhoneNumber"
                                     placeholder="">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 demo-radio-button"><b>Gender</b>
                          <div class="input-group">
                          <ng-container
                            *ngIf="user.Sex; then isMale; else isFemale"></ng-container>
                          </div>
                          <ng-template #isMale>
                            <input [disabled]="!isEditing" class="radio-inline" type="radio" name="sex" value="true" id="male1"
                                   (click)="setradio(true)" checked>
                            <label for="male1">Nam</label>

                            <input [disabled]="!isEditing" class="radio-inline" type="radio" name="sex" value="false" id="female1"
                                   (click)="setradio(false)">
                            <label for="female1">Nữ</label>
                          </ng-template>
                          <ng-template #isFemale>
                            <input [disabled]="!isEditing" class="radio-inline" type="radio" name="sex" value="true" id="male2"
                                   (click)="setradio(true)">
                            <label for="male2">Nam</label>

                            <input [disabled]="!isEditing" class="radio-inline" type="radio" name="sex" value="false" id="female2"
                                   (click)="setradio(false)" checked>
                            <label for="female2">Nữ</label>
                          </ng-template>

                        </div>
                      </div>
                      <div class="row" style="display: flex">
                        <button *ngIf="!isEditing" type="button" class="btn btn-raised g-bg-cgreen waves-effect"
                                (click)="clickUpdate()">
                          Update Profile
                        </button>
                        <button *ngIf="isEditing" type="button" class="btn btn-raised g-bg-blush2 waves-effect"
                                (click)="clickSubmit()">
                          Submit
                        </button>
                        <button *ngIf="isEditing" type="button" class="btn btn-raised btn-default waves-effect"
                                (click)="clickCancel()">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loading-page *ngIf="isLoading"></app-loading-page>
</section>
