<div class="row">
  <div class="input-field col s12 required col-lg-12 col-xl-12" style="padding-top: 20px">
    <ng-select [items]="ListOfCourse" bindLabel="Name" bindValue="Id" placeholder="Select Course" (change)="loadForm()"
               (clear)="loadForm()" [(ngModel)]="selectedCourseId">
    </ng-select>
  </div>
  <div class="input-field col s12 required col-lg-12 col-xl-12" style="padding-top: 20px">
    <ng-select [items]="ListOfForm" bindLabel="Name" bindValue="Id" [(ngModel)]="listSelectedFormId"
               placeholder="Select Form" multiple="true">
    </ng-select>
  </div>
  <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">
    <button type="submit" name="_submit" (click)="GenerateClass()" class="btn searchBtn">Generate Class</button>
  </div>
</div>
