<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px','padding': '15px 15px 15px 15px'}">
  <div class="block-header">
    <h2>Add Teacher</h2>
    <!--      <small class="text-muted">Welcome to Swift application</small>-->
  </div>
  <div [ngStyle]="isLoading?{'display':'none'}:{}" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="header">
          <h2>Course Basic Information
            <!--              <small>Description text here...</small>-->
          </h2>
          <ul class="header-dropdown">
            <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false"><i
              class="zmdi zmdi-more-vert"></i></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="body">
          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="fullName">Full name <span class="error-msg">(*)</span>:</label>
                <div class="form-line">
                  <input type="text" [(ngModel)]="fullName" class="form-control" placeholder="Name" id="fullName"
                         required
                         (change)="checkValidName()"
                         (focusout)="checkValidName()">
                </div>
                <div class="error-msg" *ngIf="errorMsgName!=null && errorMsgName.length>1">
                  {{errorMsgName}}
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="form-group">
                <label for="teacherEmail">Email <span class="error-msg">(*)</span>:</label>
                <div class="form-line">
                  <input type="text" [(ngModel)]="teacherEmail" class="form-control" placeholder="Email"
                         id="teacherEmail"
                         required
                         (change)="checkValidEmail()"
                         (focusout)="checkValidEmail()">
                </div>
                <div class="error-msg" *ngIf="errorMsgMail!=null && errorMsgMail.length>1">
                  {{errorMsgMail}}
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="form-group">
                <label for="teacherPhone">Phone number <span class="error-msg">(*)</span>:</label>
                <div class="form-line">
                  <input type="text" [(ngModel)]="teacherPhone" class="form-control" placeholder="Phone number"
                         id="teacherPhone"
                         required
                         (change)="checkValidPhone()"
                         (focusout)="checkValidPhone()">
                </div>
                <div class="error-msg" *ngIf="errorMsgPhone!=null && errorMsgPhone.length>1">
                  {{errorMsgPhone}}
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="form-group">
                <label for="listSubject">Subject <span class="error-msg">(*)</span>:</label>
                  <!--                  <input type="text" [(ngModel)]="subject" class="form-control" placeholder="Subject" id="subject"-->
                  <!--                         required-->
                  <!--                         (change)="checkValidName()"-->
                  <!--                         (focusout)="checkValidName()">-->
                  <ng-select [items]="subjectList" bindLabel="Name" bindValue="Id"
                             placeholder="Select subject(s)" multiple="true"
                             [(ngModel)]="selectedSubject" id="listSubject"
                             required (change)="checkValidSubject()" (focusout)="checkValidSubject()">
                  </ng-select>
                <div class="error-msg" *ngIf="errorMsgSubject!=null && errorMsgSubject.length>1">
                  {{errorMsgSubject}}
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-sm-12">
              <button (click)="checkValidFields()" type="submit"
                      class="btn btn-raised waves-effect g-bg-blush2">Add Teacher
              </button>
              <button (click)="redirectToViewTeacher()" type="submit" class="btn btn-raised btn-default waves-effect">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loading-page *ngIf="isLoading"></app-loading-page>
</section>

<div class="color-bg"></div>


