:host{
    width:100%;
    padding-left:2%;
    padding-right:2%;
}
studenttbl{
    max-width: 100%;
    overflow: auto
}
.confirm-btn{
    background-color: transparent;
    border: none;
}
.btn-close{
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}