<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px','padding': '15px 15px 15px 15px'}">
  <ng-http-loader
    [backgroundColor]="'#ff0000'"
    [debounceDelay]="1000"
    [extraDuration]="3003"
    [minDuration]="3003"
  >
  </ng-http-loader>
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <form id="searchForm">
          <div style="float: left;width: 48%;margin-left: 1%">
            <ng-select [items]="listCourse" bindLabel="Name" bindValue="Id" placeholder="Select Course" name="listCourse"
                       (change)="ReLoadForm()"
                       (clear)="clearCourse()" [(ngModel)]="selectedCourseId">
            </ng-select>
          </div>
          <div style="float: left;width: 47%;margin-left: 1%">
            <ng-select [items]="listForm" bindLabel="Name" bindValue="Id" [(ngModel)]="selectedFormId" name="listForm"
                       placeholder="Select Form">
            </ng-select>
          </div>
          <br style="clear: left;"/>
          <div style="float: left;width: 48%;margin-left: 1%">
            <div class="form-group">
              <div class="form-line">
                <input type="text" [(ngModel)]="studentName" class="form-control" placeholder="Student Name" name="studentName">
              </div>
            </div>
          </div>
          <div style="float: left;width: 47%;margin-left: 1%">
            <div class="form-group">
              <div class="form-line">
                <input type="text" [(ngModel)]="phoneNumber" class="form-control" placeholder="Phone Number" required name="phoneNumber"
                       (keypress)="isInputNumber($event)">
              </div>
            </div>
          </div>
          <br style="clear: left;"/>
          <button id="btnSearch" style="float: right;margin-right: 1%" type="submit" name="_submit"
                  (click)="searchStudent()"
                  class="btn g-bg-blush2 searchBtn">
            Search Student
          </button>
        </form>
      </div>
    </div>
  </div>

  <div [ngStyle]="isLoading?{'display':'none'}:{}">
    <div class="row clearfix all-program-content">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div *ngIf="empty" class="header">
            <h3>There is no student in database.</h3>
            <!--            <ul class="header-dropdown">-->
            <!--              <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"-->
            <!--                                      role="button" aria-haspopup="true" aria-expanded="false"> <i-->
            <!--                class="zmdi zmdi-more-vert"></i> </a>-->
            <!--                <ul class="dropdown-menu pull-right">-->
            <!--                  <li><a href="javascript:void(0);">Action</a></li>-->
            <!--                  <li><a href="javascript:void(0);">Another action</a></li>-->
            <!--                  <li><a href="javascript:void(0);">Something else here</a></li>-->
            <!--                </ul>-->
            <!--              </li>-->
            <!--            </ul>-->
          </div>

          <div *ngIf="!empty" class="body">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled" *ngIf="currentPage==1">
                <a class="page-link" href="javascript:;">First</a>
              </li>
              <li class="page-item" *ngIf="currentPage!=1">
                <a class="page-link" href="javascript:;" (click)="changePage(1)">First</a>
              </li>
              <li *ngFor="let p of listPageDisplay" class="page-item" [class.active]="currentPage==p">
                <a class="page-link" href="javascript:;" (click)="changePage(p)">{{p}}</a>
              </li>
              <li class="page-item disabled" *ngIf="currentPage==listPage.length">
                <a class="page-link" href="javascript:;">Last</a>
              </li>
              <li class="page-item" *ngIf="currentPage!=listPage.length">
                <a class="page-link" href="javascript:;" (click)="changePage(listPage.length)">Last</a>
              </li>
            </ul>
          </div>

          <div *ngIf="!empty" class="body table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
              <thead>
              <tr>

                <th scope="col" style="vertical-align: bottom">

                  <div class="btn-group" style="box-shadow: none">
                    <input type="checkbox" name="selectAll" id="selectAll"
                           class="filled-in chk-col-pink" [checked]="isSelectedAll"
                           (change)="selectAllFun()"/>
                    <label for="selectAll"></label>
                    <!--                    <button type="button" class="btn btn-primary">Split me</button>-->
                    <div [ngStyle]="isSelectedAll?{}:{'visibility': 'hidden'}" class="btn-group" ngbDropdown
                         role="group"
                         aria-label="Button group with nested dropdown">
                      <span ngbDropdownToggle></span>
                      <ul class="dropdown-menu" ngbDropdownMenu>
                        <li ngbDropdownItem style="font-weight:normal" (click)="ConfirmMultiple()"><a
                          href="javascript:;">Confirm selected</a></li>
                        <li ngbDropdownItem style="font-weight:normal" (click)="RejectMultiple()"><a
                          href="javascript:;">Reject selected</a></li>
                      </ul>
                    </div>
                  </div>

                </th>


                <th scope="col" style="vertical-align: middle">Student Name</th>
                <!--                <th scope="col" style="vertical-align: middle">Student Email</th>-->
                <th scope="col" style="vertical-align: middle">Date of birth</th>
                <th scope="col" style="vertical-align: middle">Student's Phone</th>
                <!--                <th scope="col" style="vertical-align: middle">Gender</th>-->
                <th scope="col" style="vertical-align: middle">Parent's Name</th>
                <th scope="col" style="vertical-align: middle">Parent's Phone</th>
                <!--                <th scope="col" style="vertical-align: middle">Parent's Gmail</th>-->
                <th scope="col" style="vertical-align: middle">Payment's Status</th>
                <th scope="col" style="vertical-align: middle">Check payment</th>
                <th scope="col" style="vertical-align: middle">Delete student</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let student of listStudent;let index = index;">
                <td style="vertical-align: bottom;text-align: center">
                  <div class="checkbox">
                    <input type="checkbox" name="rememberme{{index}}" id="rememberme{{index}}"
                           class="filled-in chk-col-pink" [checked]="student.selected"
                           (change)="updateSelectAllStatus(student)"/>
                    <label for="rememberme{{index}}"></label>
                  </div>
                </td>
                <td>{{student.Name}}</td>
                <!--                <td>{{student.Email}}</td>-->
                <td style="text-align: center">{{student.displayDate}}</td>
                <td>{{student.Phone}}</td>
                <!--                <td style="text-align: center">{{student.realSex}}</td>-->
                <td>{{student.Parent_Name}}</td>
                <td>{{student.Parent_Phone}}</td>
                <!--                <td>{{student.Parent_Gmail}}</td>-->
                <td style="text-align: center" [class.check-availble]="student.IsPayment"
                    [class.reject-availble]="!student.IsPayment">{{student.IsPayment ? 'Paid' : 'Not Yet'}}</td>
                <td style="text-align: center">
                  <div class="row">
                    <div class="button-demo">
                      <ng-container *ngIf="!student.IsPayment; then canCheck; else cannotCheck"></ng-container>
                    </div>
                    <ng-template #canCheck>
                      <button style="display: block;margin: auto;" type="button"
                              class="btn  btn-raised bg-light-green waves-effect"
                              (click)="ConfirmFee(student,index)">Confirm
                      </button>
                    </ng-template>
                    <ng-template #cannotCheck>
                      <button style="display: block;margin: auto;" type="button"
                              class="btn  btn-raised bg-amber waves-effect"
                              (click)="RejectFee(student,index)">Reject
                      </button>
                    </ng-template>
                  </div>
                </td>
                <td style="text-align: center">
                  <!--                  <button type="button" class="btn btn-raised btn-default waves-effect"-->
                  <!--                          (click)="openAttendanceForm(longContent, student)"><i-->
                  <!--                    style="color:#f44336" class="material-icons">delete_forever</i>-->
                  <!--                  </button>-->

                  <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float"
                          (click)="openAttendanceForm(longContent, student)"><i
                    style="color:#f44336" class="material-icons">delete_forever</i></button>
                  <!--                  <button style="display: block;margin: auto;" type="button" class="btn  btn-raised btn-danger waves-effect"-->
                  <!--                          >Delete-->
                  <!--                  </button>-->
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="!empty" class="body">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled" *ngIf="currentPage==1">
                <a class="page-link" href="javascript:;">First</a>
              </li>
              <li class="page-item" *ngIf="currentPage!=1">
                <a class="page-link" href="javascript:;" (click)="changePage(1)">First</a>
              </li>
              <li *ngFor="let p of listPageDisplay" class="page-item" [class.active]="currentPage==p">
                <a class="page-link" href="javascript:;" (click)="changePage(p)">{{p}}</a>
              </li>
              <li class="page-item disabled" *ngIf="currentPage==listPage.length">
                <a class="page-link" href="javascript:;">Last</a>
              </li>
              <li class="page-item" *ngIf="currentPage!=listPage.length">
                <a class="page-link" href="javascript:;" (click)="changePage(listPage.length)">Last</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loading-page *ngIf="isLoading"></app-loading-page>

</section>


<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="body">
      Do you really want to delete student <b>{{deletingStudent.Name}}</b>?
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-raised btn-default waves-effect" (click)="modal.close('Close click')">No
    </button>
    <button type="button" class="btn  btn-raised btn-danger waves-effect"
            (click)="[modal.close('Close click'),deleteStudent(deletingStudent)]">
      Yes, delete.
    </button>
  </div>
</ng-template>
