<div class="row">

  <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 10px">
    <ng-select [items]="listCourse" bindLabel="Name" bindValue="Id" placeholder="Select Course" (change)="ReLoadForm()"
      (clear)="ReLoadForm()" [(ngModel)]="selectedCourseId">
    </ng-select>
  </div>
  <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 10px">
    <ng-select [items]="listForm" bindLabel="Name" bindValue="Id" [(ngModel)]="selectedFormId"
      placeholder="Select status">
    </ng-select>
  </div>

  <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 10px">
    <input placeholder="Search..." id="coursename" maxlength="254" name="coursename" type="text">
  </div>
  <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">
    <button type="submit" name="_submit" (click)="loadStudentData()" class="btn searchBtn">Search</button>
  </div>
</div>
<div class="row clearfix all-program-content">
  <table class="table studenttbl">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Student Name</th>
        <th scope="col">Student Email</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Student's Phone</th>
        <th scope="col">Sex</th>
        <th scope="col">Parent's Name</th>
        <th scope="col">Parent's Phone</th>
        <th scope="col">Parent's Gmail</th>
        <th scope="col">Payment Confirm</th>
        <th scope="col">Payment Reject</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of listStudent;let index = index;">
        <th></th>
        <th scope="row">{{index}}</th>
        <td>{{student.Name}}</td>
        <td>{{student.Email}}</td>
        <td>{{student.Dob}}</td>
        <td>{{student.Phone}}</td>
        <td>{{student.realSex}}</td>
        <td>{{student.Parent_Name}}</td>
        <td>{{student.Parent_Phone}}</td>
        <td>{{student.Parent_Gmail}}</td>
        <td> 
            <i class="fa fa-check" style="font-size:24px;color:green" aria-hidden="true"></i>
        
        <td>
            <i style="font-size:24px;color:red" class="fa">&#f00d;</i>
          </td>
      </tr>
    </tbody>
  </table>
</div>