<div class="row">
  <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">
    <ng-select [items]="listProgram" bindLabel="Name" bindValue="Id" placeholder="Select Program" (change)="loadCourse()"
      (clear)="reloadCourse()" [(ngModel)]="selectedProgramId">
    </ng-select>
  </div>
  <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">
    <ng-select [items]="listCourse" bindLabel="Name" bindValue="Id" placeholder="Select Course" 
      [(ngModel)]="selectedCourseId">
    </ng-select>
  </div>
  <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">
    
  </div>
  <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">
    <button type="submit" name="_submit" (click)="searchClass()" class="btn searchBtn">Search</button>
  </div>
</div>
<div *ngIf="msg=='success'" class="alert alert-success alert-dismissible fade show" role="alert">
  Data has been updated successfully
  <button (click)="removeMessage()" type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="msg=='error'" class="alert alert-warning alert-dismissible fade show" role="alert">
  Data has been updated unsuccessfully
  <button (click)="removeMessage()" type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="empty"></div>
<div *ngIf="!empty" style="width: 100%">
  <div style="overflow-x: auto;width: 100%;height: auto;max-height: 600px">
    <table class="table studenttbl">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Class Name</th>
          <th scope="col">Number of student</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let class of listClass;let index = index;">
          <th scope="row" style="vertical-align: bottom">
            <div class="checkbox">
              <input type="checkbox" name="rememberme{{index}}" id="rememberme{{index}}" class="filled-in chk-col-pink"
                [(ngModel)]="class.selected" />
              <label for="rememberme{{index}}"></label>
            </div>
          </th>
          <td>{{class.ClassName}}</td>
          <td>{{class.NumberOfStudent}}</td>
          <!-- <td [class.check-availble]="student.IsPayment"
            [class.reject-availble]="!student.IsPayment">{{student.IsPayment}}</td>
        <td>
          <div class="row">
            <ng-container *ngIf="!student.IsPayment; then canCheck; else cannotCheck"></ng-container>

            <ng-template #canCheck>
              <div class="col-lg-5 col-xl-5">
                <button (click)="ConfirmFee(student,index)" class="confirm-btn">
                  <i class="fa fa-check check-availble" style="font-size:24px" aria-hidden="true"></i>
                </button>
              </div>
              <div class="col-lg-5 col-xl-5">
                <button class="confirm-btn">
                  <i class="fa fa-times reject-unavailble" style="font-size:24px"></i>
                </button>
              </div>
            </ng-template>
            <ng-template #cannotCheck>
              <div class="col-lg-5 col-xl-5">
                <button class="confirm-btn">
                  <i class="fa fa-check check-unavailble" style="font-size:24px" aria-hidden="true"></i>
                </button>
              </div>

              <div class="col-lg-5 col-xl-5">
                <button (click)="RejectFee(student,index)" class="confirm-btn">
                  <i class="fa fa-times reject-availble" style="font-size:24px"></i>
                </button>
              </div>
            </ng-template>
          </div>
        </td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="input-field col s12 required col-lg-3 col-xl-3" style="padding-top: 10px">
      <ng-select [items]="listPageSize" placeholder="Select page size" [(ngModel)]="pageSize"
        (change)="changePageSize()" [clearable]="false">
      </ng-select>
    </div>
    <div class="input-field col s12 required col-lg-3 col-xl-3" style="padding-top: 42px;text-align: right">
      <p>Showing {{pageSize * currentPage - pageSize + 1}} to {{pageSize * currentPage}} of {{totalData}} items</p>
    </div>
    <div class="input-field col s12 required col-lg-3 col-xl-3" style="padding-top: 10px">
      <ng-select [items]="listPage" bindLabel="text" bindValue="value" placeholder="Select page"
        [(ngModel)]="currentPage" (change)="changePage()" [clearable]="false">
      </ng-select>
    </div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 required col-lg-4 col-xl-4" style="padding-top: 20px">
    <button type="submit" name="_submit" (click)="generateTimetable()" class="btn searchBtn">Generate Timetable</button>
  </div>
</div>
