<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px','padding': '15px 15px 15px 15px'}">
  <div class="block-header">
    <h2 *ngIf="isLoading">All Courses</h2>
    <h2 *ngIf="!isLoading">All Courses Of <font color="#78b83e"><b>{{this.currentProgram.Name}}</b></font></h2>
    <!--      <small class="text-muted">Welcome to Swift application</small>-->
  </div>

  <div class="row clearfix search-area">
    <div class="card" style="padding: 15px;">
      <input style="border-top: none;border-left: none;border-right: none;" class="form-control"
             placeholder="Program Name" id="coursename" maxlength="254"
             [(ngModel)]="courseName"
             name="coursename"
             type="text">

      <button type="button" class="btn  btn-raised g-bg-blush2 waves-effect" (click)="getAllCourse()">Search Course</button>
      <button type="button" class="btn  btn-raised g-bg-blue waves-effect" (click)="redirectToAddCourse()">Create New Course</button>
<!--      <button style="float: right" type="submit" name="_submit" class="btn searchBtn g-bg-blush2"-->
<!--              (click)="getAllCourse()">Search Course-->
<!--      </button>-->
<!--      <button style="float: right" type="submit" name="_submit" class="btn searchBtn g-bg-blue"-->
<!--              (click)="redirectToAddCourse()">Create New Course-->
<!--      </button>-->
<!--      <br style="clear: right;"/>-->
    </div>
  </div>
  <div [ngStyle]="isLoading?{'display':'none'}:{}" class="row clearfix">
    <h3 *ngIf="ListOfCourse==null || ListOfCourse.length<=0">There is no course in
      <font color="#78b83e"><b>{{this.currentProgram.Name}}</b></font> program..</h3>
    <div *ngFor="let course of ListOfCourse" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 course-div">
      <div class="thumbnail card animated fadeIn" style="min-width: 20vh;border: #e6e6e6 1px solid">
        <ng-container
          *ngIf="course.Image!=null; then imgNotNull; else imgNull">
        </ng-container>
        <ng-template #imgNotNull>
          <img src="{{course.Image}}" alt="" class="img-fluid"
               (click)="navigateToViewCourseDetail(course)"
               [ngStyle]="{'height':'250px', 'width':'100%', 'object-fit': 'cover'}">
        </ng-template>
        <ng-template #imgNull>
          <img src="../../assets/images/bualiem.png" alt="" class="img-fluid"
               (click)="navigateToViewCourseDetail(course)"
               [ngStyle]="{'height':'250px', 'width':'100%', 'object-fit': 'cover'}">
        </ng-template>

        <div class="caption  body">
          <h3 class="nameSpan">{{course.Name}}</h3>
          <a class="btn  btn-raised btn-info g-bg-cgreen waves-effect" role="button" (click)="navigateToViewCourseDetail(course)">View
            Detail</a>
        </div>
      </div>
    </div>
  </div>
  <app-loading-page *ngIf="isLoading"></app-loading-page>
</section>

<div class="color-bg"></div>
