<section class="content" [ngStyle]="{'margin': '15px 15px 15px 15px'}">
  <div class="container-fluid">
    <div class="block-header">
      <h2 *ngIf="ListOfCourse!=null && ListOfCourse.length>0">All Courses Of
        <font color="#78b83e"><b>{{this.currentProgram.Name}}</b></font>
      </h2>
      <h2 *ngIf="ListOfCourse==null || ListOfCourse.length<=0">There is no course in
        <font color="#78b83e"><b>{{this.currentProgram.Name}}</b></font> program.
      </h2>
    </div>

    <div class="row">
      <div class="input-field col s12 required" id="id_email_container">
        <input placeholder="Search..." id="coursename" maxlength="254" [(ngModel)]="courseName" name="coursename"
               type="text">
        <button type="submit" name="_submit" class="btn searchBtn" (click)="getCourseWithCenterId()">Search</button>
        <button type="Add course" name="addcourse" class="btn searchBtn" (click)="redirectToAddCourse()">Add Course
        </button>
      </div>
    </div>
    <div class="row clearfix">
      <div *ngFor="let course of ListOfCourse" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 course-div">
        <div class="thumbnail card" style="min-width: 20vh;border: #e6e6e6 1px solid">
          <ng-container
            *ngIf="course.Image!=null; then imgNotNull; else imgNull">
          </ng-container>
          <ng-template #imgNotNull>
            <img src="{{course.Image}}" alt="" class="img-fluid"
                 (click)="navigateToViewCourseDetail(course)"
                 [ngStyle]="{'height':'250px', 'width':'100%', 'object-fit': 'cover'}">
          </ng-template>
          <ng-template #imgNull>
            <img src="../../assets/images/bualiem.png" alt="" class="img-fluid"
                 (click)="navigateToViewCourseDetail(course)"
                 [ngStyle]="{'height':'250px', 'width':'100%', 'object-fit': 'cover'}">
          </ng-template>

          <div class="caption  body">
            <h3>{{course.Name}}</h3>
            <a class="btn  btn-raised btn-info waves-effect" role="button" (click)="navigateToViewCourseDetail(course)">View
              Detail</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="color-bg"></div>
